@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 247 247 247;
    --foreground: 26 26 26;
  }

  .dark {
    --background: 10 10 10;
    --foreground: 255 255 255;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  body {
    @apply bg-light-bg dark:bg-dark-bg text-light-text dark:text-dark-text;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}